<!DOCTYPE html>
<html lang="en" class="uk-height-1-1">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}SteemLine{% endblock %}</title>

    <link rel="stylesheet" href="assets/vendor/jquery-ui/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="assets/vendor/uikit/css/uikit.min.css">
    <link rel="stylesheet" href="assets/vendor/uikit/css/components/tooltip.min.css">
    <link rel="stylesheet" href="assets/vendor/uikit/css/components/slider.min.css">
    <link rel="stylesheet" href="assets/vendor/uikit/css/components/sticky.min.css">
    <link rel="stylesheet" href="assets/vendor/uikit/css/components/notify.min.css">
    <link rel="stylesheet" href="assets/vendor/uikit/css/components/htmleditor.min.css">
    <link rel="stylesheet" href="assets/vendor/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="assets/css/fonts.css">
    <link rel="stylesheet" href="assets/css/app.css">
</head>
<body>
{% block body %}{% endblock %}
    <script>
        let sf = {
          appName: '{{ app_name }}',
          redirectUri: '{{ url }}/auth',
          host: '{{ host }}/',
          access_token: {{ accesstoken }},
          username: {{ username }}
        };
    </script>
    <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="assets/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="assets/vendor/moment/min/moment.min.js"></script>
    <script src="assets/vendor/bluebird/js/browser/bluebird.min.js"></script>
    <script src="assets/vendor/codemirror/lib/codemirror.js"></script>
    <script src="assets/vendor/codemirror/mode/markdown/markdown.js"></script>
    <script src="assets/vendor/codemirror/addon/mode/overlay.js"></script>
    <script src="assets/vendor/codemirror/mode/xml/xml.js"></script>
    <script src="assets/vendor/codemirror/mode/gfm/gfm.js"></script>
    <script src="assets/vendor/remarkable/dist/remarkable.min.js"></script>
    <script src="assets/vendor/uikit/js/uikit.js"></script>
    <script src="assets/vendor/uikit/js/components/tooltip.min.js"></script>
    <script src="assets/vendor/uikit/js/components/slider.min.js"></script>
    <script src="assets/vendor/uikit/js/components/sticky.min.js"></script>
    <script src="assets/vendor/uikit/js/components/notify.min.js"></script>
    <script src="assets/vendor/uikit/js/components/htmleditor.min.js"></script>
    <script src="assets/vendor/push.js/bin/push.min.js"></script>
    <script src="assets/vendor/vue/dist/vue.min.js"></script>
    <script src="assets/js/steem.min.js"></script>
    <script src="assets/js/sc2.min.js"></script>
    <script src="assets/js/lodash.min.js"></script>
    <script src="assets/js/app.js"></script>

</body>
</html>
